body {
    background-color: #386076;
    font-family: 'Rubik';
}

.form{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.autocomplete {
    position: relative;
    display: inline-block;
}
input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
}
input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
}
input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
}
.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
}
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
    background-color: #e9e9e9;
}
.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}

.button{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.city{
    background-color: #fff;
    width: 300px;
    height: 30px;
    padding: 5px;
}

.btn{
    background-color: #f8c309;
    width: 70px;
    height: 42px;
    outline: none;
    border: none;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.weather {
    border: 4px solid #5d8094;
    border-radius: 10px;
    background-color: #16394C;
    width: 700px;
    height: 400px;
}

.info {
    display: flex;
    justify-content: center;
    margin: 0 -15px;
    align-items: center;
}

.title {
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 22px;
}

.search{
    color: #fff;
}

.current_information {
    display: flex;
    flex-direction: column;
}

.img{
    width: 140px;
    margin-right: 70px;
}

.current_info {
    color: #fff;
    margin-left: 50px;
    margin-top: -35px;
}

.temp {
    display: flex;
    color: #fff;
    font-size: 34px;
    margin-right: 50px;
}

.description {
    color: #fff;
    font-size: 18px;
    font-weight: lighter;
    list-style: none;
    margin-left: 15px;
}

.time_info {
    display: flex;
}

.times {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.time {
    color: #fff;
    font-size: 21px;
    margin-left: 25px;
}

.C {
    margin-top: -20px;
    font-size: 14px;
    margin-left: 35px;
    color: #fff;
}

.img_time {
    margin-top: -15px;
}
